<div class="card">
  <%= link_to image_tag(tweet.image, class: :card__img ), tweet_path(tweet.id) if tweet.image.attached?%>
  <div class="card__body">
    <%= link_to tweet.title, tweet_path(tweet.id), class: :card__title%>
    <div class="postDate"><%= tweet.created_at %></div>
    <p class="card__summary">
      <%= tweet.hashtag %>
    </p>
    <%= link_to "by #{tweet.user.nickname}", root_path, class: :card__user %>
  </div>
</div>