<div class="cover-index">
  <div class="container">
    <div class="row justify-content-center">
      <h1 class="font-weight-normal mt-3">検索結果</h1>
    </div>
    <div class=" justify-content-center">
      <% @tweets.each do |tweet| %>
      <div class="one-post">
        <%= link_to tweet_path(tweet) do %>
        <p class="caption">
          <%= link_to tweet.title, tweet_path(tweet.id), class: :card__title%>
          <%= link_to image_tag(tweet.image, size: '300x200', class: :card__img ), tweet_path(tweet.id) if tweet.image.attached?%>
          <p class="caption"><%= tweet.text %></p>
          <div class="postDate"><%= tweet.created_at.strftime("%Y年-%m月-%d日 %H時:%M分:%S秒") %></div>
          <% if user_signed_in? %>
            <p class="caption">
            <% if tweet.favorited_by?(current_user) %>
            <%= link_to tweet_favorites_path(tweet.id), method: :delete do %>
              ♥<%= tweet.favorites.count %> いいね
            <% end %>
          <% else %>
            <%= link_to tweet_favorites_path(tweet), method: :post do %>
              ♡<%= tweet.favorites.count %> いいね
            <% end %>
          <% end %>
          <p class="caption"><%= "#{tweet.comments.count} コメント" %></p> 
        </p>
      <% end %>
          <%= link_to "by #{tweet.user.nickname}", user_path(tweet.user.id), class: :card__user %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
