<div class="cover-index">
  <div class="container">
    <div class="container">
      <div class="row justify-content-center">
        <h1 class="font-weight-normal mt-3 ">投稿詳細</h1>
      </div>
      <div class="row justify-content-center d-block">
        <p class="caption">
          <%= link_to "#{@tweet.user.nickname}さんの投稿", user_path(@tweet.user.id), class: :prototype__user %>
        </p>
        
        <p class="caption"><%= @tweet.title %></p>
          <h2>本文</h2>
          <p id="text"><%= @tweet.text %></p>
        <% if @tweet.images.attached? %>
          <%= image_tag @tweet.images[0], size: '300x200', class: "main-image" %><br> 
          <div class="other-images">
            <% @tweet.images[1..-1].each do |image| %>
              <div class="other-image">
                <%= image_tag image %>
              </div>
           <%end%>
          </div>
        <% end %>
        <div class="postDate"><%= @tweet.created_at.strftime("%Y年%m月%d日 %H時:%M分") %></div>
        <% if user_signed_in? && current_user.id == @tweet.user_id %>
          <%= link_to '編集する', edit_tweet_path(@tweet.id), class: "btn btn-info mr-3" %>
          <%= link_to '削除する', tweet_path(@tweet.id),method: :delete, "data-confirm"=>"本当に消しますか？", class: "btn btn-danger" %><br>
          <%= link_to '投稿一覧ページへ', tweets_path, class: "btn btn-dark mt-3 " %>
        <% end %>
      </div>
    </div>
    
    <div class="justify-content-center mt-3">
      <% if user_signed_in? && current_user.id != @tweet.user_id %>
        <p class="caption">
        <% if @tweet.favorited_by?(current_user) %>
          <%= link_to tweet_favorites_path(@tweet.id), method: :delete do %>
          ♥<%= @tweet.favorites.count %> いいね
          <% end %>
        <% else %>
          <%= link_to tweet_favorites_path(@tweet), method: :post do %>
            ♡<%= @tweet.favorites.count %> いいね
          <% end %>
        <% end %>
        </p>
      <% end %>
      <% if user_signed_in? && current_user.id == @tweet.user_id %>
        <p class="caption"><%= "#{@tweet.favorites.count} いいね" %></p>
      <% end %>
    </div>
    
    <div class="justify-content-center">
      <% if user_signed_in? %>
      <div class="comment-box">
        <%= form_with model: [@tweet, @comment], id: "comment-form" do |f| %>
          <%= f.text_area :content, :size=>"60x3",placeholder: "コメントする" %>
          <%= f.submit "送信", class: "btn btn-success mb-4" %>
        <% end %>
      </div>
      <% end %> 
    </div>

    <div class="justify-content-center">
      <div id="comments">
      <p>コメント件数：<%= @comments.count %></p>
        <% @tweet.comments.each do |comment| %>
          <div class="comments-index mb-2">
            <p class="user-info"><%= comment.user.nickname %></p>
            <%= comment.created_at.strftime("%Y年 %m月 %d日 %H時:%M分") %><br>
            <div class="comment-content">
              <%= comment.content %>
              <% if user_signed_in? && current_user.id == comment.user_id %>
              <div class="comment-delete">
                <%=link_to "削除", tweet_comment_path(comment.tweet.id, comment.id), method: :delete, class: "btn-sm btn-danger" %>
              </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
