<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <%= @tweet.title %>
      </p>
      <%= link_to "by #{@tweet.user.nickname}", root_path, class: :prototype__user %>
        <div class="prototype__manage">
          <% if user_signed_in? && current_user.id == @tweet.user_id %>
            <%= link_to "編集する", edit_tweet_path(@tweet.id), class: :prototype__btn %>
            <%= link_to "削除する", tweet_path(@tweet.id), method: :delete, class: :prototype__btn %>
          <% end %>
        </div> 
      <div class="prototype__image">
        <% if @tweet.image.attached? %>
          <%= image_tag @tweet.image %> 
        <% end %>
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">タイトル</p>
          <p class="detail__message">
            <%= @tweet.title %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">本文</p>
          <p class="detail__message">
            <%= @tweet.text %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">#</p>
          <p class="detail__message">
            <%= @tweet.hashtag %>
        </div>
      </div>

      <div id="comments">
      <h4>＜コメント一覧＞</h4>
        <% @tweet.comments.each do |comment| %>
          <div class="comment">
            <p class="user-info"><%= comment.user.nickname %>： </p>
            <p><%= comment.content %></p>
            <% if user_signed_in? && current_user.id == comment.user_id %>
            <p><%=link_to "削除", tweet_comment_path(comment.tweet.id), method: :delete, class: "comment-destroy" %></p>
            <% end %>
          </div>
        <% end %>
      </div>
  
    <% if user_signed_in? %>
    <div class="comment-box">
      <%= form_with model: [@tweet, @comment], id: "comment-form" do |f| %>
        <%= f.text_area :content , class: "comment-text"%>
      <button type="submit" class="comment-btn">
        <%= f.submit "コメントをする", class: "comment-submit" %>
      </button>
    <% end %>
  </div>
  <% end %> 
    </div>
  </div>
</main>
