<div class="cover-index">
  <div class="container">
    <div class="row justify-content-center">
      <h1 class="font-weight-normal mt-3">いいね一覧</h1>
    </div>
    <div class=" justify-content-center ">
    <% if @favorite_tweets.length == 0 %>
      <%= "「いいね」した投稿はありません" %>
    <% end %>
      <% @favorite_tweets.each do |tweet| %>
      <div class="one-post">
        <%= link_to tweet_path(tweet) do %>
        <p class="caption">
          <%= link_to tweet.title, tweet_path(tweet.id), class: :card__title%>

          <p class="caption">
          <article>
            <div class="toc"><%= toc(tweet.text).html_safe %>
            </div>
            <div class="markdown"><%= markdown(tweet.text).html_safe %>
             </div>
          </article>
          </p>
          <%= link_to image_tag(tweet.images[0], size: '300x200', class: :card__img ), tweet_path(tweet.id) if tweet.images.attached? %>
          <div class="postDate mt-1"><%= tweet.created_at.strftime("%Y年-%m月-%d日 %H時:%M分") %></div>
          <p class="caption"><%= "#{tweet.comments.count} コメント" %></p>
          <p class="caption"><%= "#{tweet.favorites.count} いいね" %></p>
          <%= link_to "by #{tweet.user.nickname}", user_path(tweet.user.id), class: :card__user %>
        <% end %>
      </div>
      <% end %>
    </div>
    <%= paginate @tweets %>
  </div>
</div>
